<div class="container">
  <div class="row center">
    <img src="/public/assets/img/burger.png" alt="Burger" class="card-img">
  </div>
  <div class="row">
    <h1>Eat - DA - Burger!</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <ol>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ol>
      <div class="col-6">
        <h2>Burgers that are devoured!</h2>
        <ol>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers-block devoured=false}}
          {{/if}}
          {{/each}}
        </ol>
      </div>
      <h2>Add a Burger</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="burg">Name of Burger:</label>
          <input type="text" id="burg" name="name">
        </div>
        <div class="form-group">
          <label for="devoured">Hungry?</label><br>
          <input type="radio" name="devoured" value="1" checked> Devoured!<br>
          <input type="radio" name="devoured" value="0"> Ready to Eat!
        </div>
        <button type="submit">Add Burger</button>
      </form>
    </div>
  </div>
</div>