body {
    background-color: #ffd16e;
};

.container {
    width: 90%;
    margin: 0 auto;
}

li {
    padding: 5px;
    margin: 5px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }